%h2 Resend confirmation instructions
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %fieldset
    %legend Resend confirmation instructions
    %div
      = f.label :email
      = f.email_field :email, :placeholder => 'user@domain.com', autofocus: true
      = f.error :email, :id => 'email_error'
    %div= f.submit "Resend"
#login-links
  = render "users/shared/links"
