%fieldset
  %legend Create a new Team
  = simple_form_for(@team) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name
      = f.association :leader
      = f.association :main_goal

    .form-actions
      = f.button :submit
