%fieldset
  %legend Show data for Teams:
  %p
    %b Name:
    = @team.name
  %p
    %b Leader:
    = @team.leader
  %p
    %b Main Goal:
    = @team.main_goal
  %p
    %b Teammates:
    = @team.teammates
  %p
    %b Goals:
    = @team.goals
  %p
    %b Focuses:
    = @team.focuses

.ar-commands
  = link_to 'Edit', edit_team_path(@team)
  \|
  = link_to 'Back', teams_path
