%h1
  Editing Progress for Task:
  = link_to @task.name, task_path(@task)
%fieldset
  %legend 
    Edit the Progress for
    = @task
  = render 'form'

.ar-commands
  = link_to 'Show', task_progress_path(@task, @progress)
  \|
  = link_to 'Back', task_progresses_path(@task)
