%h1 Listing progresses

%table.striped
  %thead
    %tr
      %th Task
      %th Starts
      %th Ends
      %th Effort
      %th Subject
      %th.ar-commands
        = link_to 'New Progress', new_progress_path
  %tbody
    - @progresses.each do |progress|
      %tr
        %td= progress.task
        %td= progress.starts
        %td= progress.ends
        %td= progress.effort
        %td= progress.subject
        %td.ar-commands
          = link_to 'Show', progress
          = link_to 'Edit', edit_progress_path(progress)
          = link_to 'Destroy', progress, :confirm => 'Are you sure?', :method => :delete
