%fieldset
  %legend Create a new Task
  = simple_form_for(@task) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name
      = f.input :daadline
      = f.input :priority
      = f.input :completion
      = f.input :status
      = f.association :focus
      = f.association :goal

    .form-actions
      = f.button :submit
