%fieldset
  %legend Show data for Task:
  %h2
    =  link_to @task.name, edit_task_path(@task)
  %p
    %b Deadline:
    = @task.daadline
  %p
    %b Owners:
    = @task.owners
  %p
    %b Priority:
    = @task.priority
  %p
    %b completion:
    = @task.completion
  %p
    %b Status:
    = @task.status
  %p
    %b Focus:
    = link_to @task.focus, focus_path(@task.focus)
  %p
    %b Goal:
    = link_to @task.goal, goal_path(@task.goal)
  .ar-commands
    = link_to 'Edit', edit_task_path(@task)
    \|
    = link_to 'Back', tasks_path
