%h1 Listing Goals

%table.striped
  %thead
    %tr
      %th Name
      %th Description
      %th.ar-commands
        = link_to 'New Goal', new_goal_path
  %tbody
    - @goals.each do |goal|
      %tr
        %td= goal.name
        %td= goal.description
        %td.ar-commands
          = link_to 'Show', goal
          = link_to 'Edit', edit_goal_path(goal)
          = link_to 'Destroy', goal, :confirm => 'Are you sure?', :method => :delete

