= simple_form_for(@focus) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, placeholder: "A concentration area as: Work, Family, Travel"
    = f.input :description, placeholder: "Things that I love to do", as: :text, size: 4

  .form-actions
    = f.button :submit
