%h1 Listing Focuses

%table.striped
  %thead
    %tr
      %th Name
      %th Description
      %th.ar-commands
        = link_to 'New Focus', new_goal_path
  %tbody
    - @focuses.each do |focus|
      %tr
        %td= focus.name
        %td= focus.description
        %td.ar-commands
          = link_to 'Show', focus
          = link_to 'Edit', edit_focus_path(focus)
          = link_to 'Destroy', focus, :confirm => 'Are you sure?', :method => :delete