%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %fieldset
    %legend Edit your account data
    %div
      = f.label :current_password
      = f.password_field :current_password, :placeholder => "(give current password to confirm changes)", autofocus: true
    = f.input :first_name, :placeholder => 'John'
    = f.input :last_name, :placeholder => 'Doe'
    %div
      = f.label :email
      = f.email_field :email, :placeholder => 'user@domain.com'
      = f.error :email, :id => 'email_error'
    %div
      = f.label :password
      = f.password_field :password, :autocomplete => "off", :placeholder => "(leave blank if you don't want to change it)"
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    %div= f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
= link_to "Back", :back